{% extends "layout.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1 style="font-family: 'Space Mono', monospace;color: black;margin-top: 20px;text-align: center;margin-top: 40px;">En quoi consiste <span style="background-color: #FABA00">Second Life</span> ?</h1><br>
                <div style="color: black;font-family: 'Comfortaa', cursive;text-align: center;font-size: 16px;margin-top: 50px;margin-bottom: 90px;">Second Life est un site de marchandage d'objet usée / Abimée qui peuvent être données , négociez ou vendue entre particulier et professionels.</div>


            </div>
            <div class="col-md-6">
                <img style="margin-left: 100px;height: 300px;margin-top: 30px;margin-bottom: 30px;" alt="main-donner" src="{{ asset ('images/logo/logov2.png') }}">
            </div>
        </div>
    </div>
    <hr color="#FABA00">

    <div class="container">
        <div class="row">
            <div style="margin-top: 50px;" class="col-6">
                <h1 style="font-family: 'Space Mono', monospace;color: black;margin-top: 20px;text-align: center;"><span style="background-color: #FABA00">Négociez !</span></h1>
                <div style="color: black;font-family: 'Comfortaa', cursive;text-align: center;font-size: 16px;margin-top: 50px;">Avec Second Life vous pouvez choisir l'option Négociez l'offre et repartir heureux des deux cotés !</div>
            </div>
            <div class="col-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFgSMejGy6eJZjqdPI9Fm7qrUi7y8UmPMoFXRG5GKzsygcbM2Z" alt="negociations">
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div style="margin-top: 50px;" class="col-6">
                <img style="height: 220px;" src="https://previews.123rf.com/images/honksantima/honksantima1710/honksantima171001618/87782882-hand-holding-gear-engineer-symbol.jpg" alt="negociations">
            </div>
            <div style="margin-top: 50px;" class="col-6">
                <h1 style="font-family: 'Space Mono', monospace;color: black;margin-top: 20px;text-align: center;" >Donner !</h1>
                <div style="color: black;font-family: 'Comfortaa', cursive;text-align: center;font-size: 16px;margin-top: 50px;">Avec Second Life vous être libre de donnez tout vos objets gratuitement !</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div style="margin-top: 50px;" class="col-6">
                <h1 style="font-family: 'Space Mono', monospace;color: black;margin-top: 20px;text-align: center;" ><span style="background-color: #FABA00">Vendez !</span></h1>
                <div style="color: black;font-family: 'Comfortaa', cursive;text-align: center;font-size: 16px;margin-top: 50px;">Avec Second Life vous n'êtes pas obliger de passer par la case négocier, Vendez vos objets directement sans perdre de temps ! !</div>
            </div>
            <div style="margin-top: 50px;" class="col-6">
                <img style="height: 220px;margin-bottom: 40px; " src="https://static.thenounproject.com/png/1010451-200.png" alt="negociations">
            </div>
        </div>
    </div>

    

{% endblock %}