{% extends "layout.html.twig" %}
{% block content %}
    <section class="furniture_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>Most Popular Furnitures</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="furniture_item">
                        <img class="img-fluid" src="img/furniture/furniture-1.jpg" alt="">
                        <h4>Green Butter Sofa</h4>
                        <p>Sony laptops are among the most well known laptops on today’s market. Sony is a name that.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="furniture_item">
                        <img class="img-fluid" src="img/furniture/furniture-2.jpg" alt="">
                        <h4>Green Butter Sofa</h4>
                        <p>Sony laptops are among the most well known laptops on today’s market. Sony is a name that.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="furniture_item">
                        <img class="img-fluid" src="img/furniture/furniture-3.jpg" alt="">
                        <h4>Green Butter Sofa</h4>
                        <p>Sony laptops are among the most well known laptops on today’s market. Sony is a name that.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}