<footer class="footer_area p_120">
    <div class="container-fluid">
        <div class="row footer_inner">
            <div class="offset-1 col-lg-5 col-sm-6">
                <aside class="f_widget ab_widget">
                    <hr color="white">
                    <div class="f_title">
                        <a id="propos" href="{{ path('propos_nous') }}">À propos de nous</a>
                    </div>
                    <p>Nous sommes une équipe de développeurs soucieu de l'environnement et du mode de consommation actuel</p>
                </aside>
            </div>

            <div class="offset-4 col-lg-2">
                <aside class="f_widget social_widget">
                    <div class="f_title">
                        <h3>Suivez nous !</h3>
                    </div>
                    <p>Nos réseaux sociaux !</p>
                    <ul class="list">
                        <li><a href="https://www.facebook.com/login"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/login"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="https://www.behance.net/"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</footer>